<a class="btn btn-default" ui-sref="school.update-cr({id:id})">Edit</a>
<a class="btn btn-default pull-right" ng-click="deleteData()">Delete</a>
<div class="row jumbotron">
	<img src="./php/uploads/{{image}}" alt="" class="col-md-4 img-responsive">
	<div class="col-md-8">
		<ul class="list-unstyled read_details">
			<li><span>Course details</span></li>
			<li class="text-capitalize"><span>Name:</span> {{name}}</li>
			<li><span>Description:</span> {{description}}</li>
			<li><span>Students:</span>
				<ul class="" ng-repeat="student in courseStudents">
					<li class="">{{student.name ? student.name : 'No students'}}</li>
				</ul>
			</li>			
		</ul>	
	</div>
</div>