<form class="crForm">
	<div class="form-group">
      	<button type="submit" class="btn btn-default" ng-click='postCourseData()'>{{ old_id ? 'Update' : 'Save' }}</button>
 	</div>
	<h3>Add Course:</h3>
	<div class="form-group">
		<label for="crName">Name:</label>
			<input type="text" class="form-control" id="crName" placeholder="Name" ng-value="old_name" ng-model="crName">
	</div>
	<div class="form-group">
  		<label for="crDescription">Comment:</label>
  			<textarea class="form-control" rows="5" id="crDescription" ng-value="old_description" ng-model="crDescription"></textarea>
	</div>
	<div class="form-group">
		<label for="crImage">File input</label>
			<input ng-model="form.image" type="file" class="form-control input-md" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)" >
	  		<img ng-src="{{image_source}}" class="upload-img">
	</div>	
</form>	