<img src="https://dyzz9obi78pm5.cloudfront.net/app/image/id/58b738bc32131c627356bf06/n/logo-horizontal-notag-03.png" alt="" class="col-md-6 col-md-offset-3 col-xs-12 img-responsive">
<form class="text-center well col-md-8 col-md-offset-2 col-xs-12">
	<h3>Please login:</h3>
		<div class="form-group">
			<label for="username">Username:</label>
			<input type="text" class="form-control" id="username" placeholder="Name" ng-model="username">
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
		</div>
		<div class="form-group">
		    <button type="submit" class="btn btn-default" ng-click='login()'>Login</button>
		</div>
</form>
